##############################
## Eclipse files

.settings/
.classpath
.project
.externalToolBuilders/


##############################
## Compiled

target/

##############################
## Intellij Files

.idea/
placeMe-web.iml
