<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>placeMe</display-name>
  	<context-param>
    	<param-name>javax.faces.PROJECT_STAGE</param-name>
    	<param-value>Development</param-value>
  	</context-param>
  	<servlet>
    	<servlet-name>PlaceMe Main Context</servlet-name>
    	<servlet-class>com.placeMe.web.servlet.PlaceMeContextServlet</servlet-class>
    	<load-on-startup>1</load-on-startup>
  	</servlet>  		  	
  	<servlet>
    	<servlet-name>Spring Context</servlet-name>
    	<servlet-class>com.placeMe.web.servlet.SpringContextServlet</servlet-class>
    	<load-on-startup>1</load-on-startup>
  	</servlet>  		
  	<servlet>
    	<servlet-name>Faces Servlet</servlet-name>
    	<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  	</servlet>
	<servlet>
	  	<display-name>DWR Servlet</display-name>
	  	<servlet-name>dwr-invoker</servlet-name>  
	  	<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
	  	<init-param>
	     	<param-name>debug</param-name>
	     	<param-value>true</param-value>
	  	</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
  	<servlet>
    	<servlet-name>placeMeServices</servlet-name>
    	<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    	<load-on-startup>1</load-on-startup>
  	</servlet>
  	<listener>
    	<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  	</listener>
  	<filter>
    	<filter-name>Extensions Filter</filter-name>
    	<filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
		<init-param>
	        <description>
	            Set the size limit for uploaded files.
	                Format: 10  - 10 bytes
	                        10k - 10 KB
	                        10m - 10 MB
	                        1g  - 1 GB
	        </description>
	        <param-name>uploadMaxFileSize</param-name>
	        <param-value>3m</param-value>
	    </init-param>
	    <init-param>
	        <description>
	            Set the threshold size - files below this limit are stored 
	            in memory, files above this limit are stored on disk.
	                Format: 10  - 10 bytes
	                        10k - 10 KB
	                        10m - 10 MB
	                        1g  - 1 GB
	        </description>
	        <param-name>uploadThresholdSize</param-name>
	        <param-value>512k</param-value>
	    </init-param>
	    <init-param>
	        <description>
	            Set the path where the intermediary files will be stored.
	        </description>
	        <param-name>uploadRepositoryPath</param-name>
	        <param-value>avatars/temp-upload</param-value>
	    </init-param>
    </filter>  	  		  
  	<servlet-mapping>
    	<servlet-name>placeMeServices</servlet-name>
    	<url-pattern>/services/RegisterUser</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>placeMeServices</servlet-name>
    	<url-pattern>/services/UpdateUser</url-pattern>
  	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>Faces Servlet</servlet-name>
    	<url-pattern>*.xhtml</url-pattern>
  	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>dwr-invoker</servlet-name>
  		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<filter-mapping>
    	<filter-name>Extensions Filter</filter-name>
    	<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>	  	  
	<welcome-file-list>
	  	<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>